.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border: 2px solid red;
}

.app-menu {
  height: var(--h-menubar);
  flex-shrink: 0;
}

.app-toolbar {
  height: var(--h-toolbar);
  flex-shrink: 0;
}

.app-workspace {
  flex: 1;
  position: relative;
}

.app-status {
  height: var(--h-statusbar);
  flex-shrink: 0;
}
